.small {font-size : 10px; font-family : serif; font-weight : bold;}
.normal {font-size : 15px; font-family : serif; font-weight : bold;}
.sch {font-size : 20px; font-family : serif; font-weight : bold;}
.tit {font-size : 40px; font-family : serif; font-weight : bold;}